<nb-layout>
  <nb-layout-header fixed>Awesome Dynamic Table</nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>

        <nb-accordion class="mb-4 mt-4">
          <nb-accordion-item>
            <nb-accordion-item-header>Product Details</nb-accordion-item-header>
            <nb-accordion-item-body>
              Item Content
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
    
        <ngx-table [configuration]="configuration" [columns]="columns" [data]="data"
          tableClass="table table-striped table-bordered table-hover">
        </ngx-table>
    
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>