<nb-layout>
  <nb-layout-header class="custom-header">Awesome Dynamic Table</nb-layout-header>
  <nb-layout-column class="m-1 p-1">
    <nb-card size="giant" class="m-1 p-1" style="min-height: 80vh;">
      <nb-card-body>

        <nb-accordion class="mt-1 mb-1">
          <nb-accordion-item>
            <nb-accordion-item-header class="custom-header">
              Advanced filters
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row mt-0">
                <div class="col-md-6 col-12 mb-0 mt-0" *ngFor="let column of apiCustomColumns">

                  <ng-container>
                    <div [ngSwitch]="column.filterType">
                      <ng-container *ngSwitchCase="'dropdown'">
                        <label [for]="column.id" class="d-block">{{ column.title }}</label>
                        <ng-container *ngIf="!column.filterOptions">
                          <input type="text" nbInput fullWidth fieldSize="small" disabled class="form-control mt-1 mb-1"
                            [id]="column.id" [name]="column.key">
                        </ng-container>
                        <ng-container *ngIf="column.filterOptions">
                          <nb-select [size]="'small'" fullWidth [placeholder]=" 'select options' "
                            class="form-control p-0 mt-1 mb-1" [id]="column.id" [name]="column.key"
                            (selectedChange)="onFilterChange(column.key, $event)">
                            <nb-option value="">
                              {{ 'select options' }}
                            </nb-option>
                            <nb-option *ngFor="let x of column.filterOptions" [value]="x.name">
                              {{ x.name }}
                            </nb-option>
                          </nb-select>
                        </ng-container>
                      </ng-container>

                      <ng-container *ngSwitchCase="'input'">
                        <label [for]="column.id">{{ column.title }}</label>
                        <input type="text" nbInput fullWidth fieldSize="small" class="form-control mt-1 mb-1"
                          [id]="column.id" [name]="column.key" [placeholder]="column.placeholder"
                          (input)="onFilterChange(column.key, $event.target.value)">
                      </ng-container>

                      <ng-container *ngSwitchCase="'date'">
                        <label [for]="column.id">{{ column.title }}</label>
                        <input nbInput fullWidth fieldSize="small" placeholder="{{ column.placeholder }}"
                          [nbDatepicker]="datePicker" class="form-control mt-1 mb-1" [id]="column.id"
                          [name]="column.key" (dateInput)="onFilterChange(column.key, $event.target.value)">
                        <nb-datepicker #datePicker></nb-datepicker>
                      </ng-container>

                      <ng-container *ngSwitchDefault>
                        <label [for]="column.id">{{ column.title }}</label>
                        <input type="text" nbInput fullWidth fieldSize="small" disabled class="form-control mt-1 mb-1"
                          [id]="column.id" [name]="column.key">
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- Dynamic Checkbox List -->
              <div class="form-group mt-3 mb-3">
                <label *ngFor="let column of apiCustomColumns" class="form-checkbox form-inline me-3">
                  <input type="checkbox" [checked]="checked.has(column.key)"
                    (change)="toggleVisibilityOfColumns(column.key)" />
                  <em class="form-icon"></em> {{ column.title }}
                </label>
              </div>

              <!-- Reset and Search Buttons -->
              <div class="d-flex justify-content-center mt-3 mb-3">
                <button nbButton size="small" hero status="info" class="mx-1" (click)="filterClicked()">
                  Search
                </button>
                <button nbButton size="small" hero status="warning" (click)="resetFilters()">
                  Reset
                </button>
              </div>

            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>

        <!-- [pagination]="paginationParam" -->
        <ngx-table #table [id]="1" [configuration]="configuration" [summaryTemplate]="summaryTemplateRef"
          [selectAllTemplate]="selectAllTemplate" [data]="data" [columns]="columns" [pagination]="paginationParam"  (event)="handleTableRowClick($event)">
        </ngx-table>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>

<ng-template #selectAllTemplate let-changeEvent>
  <label class="ngx-form-checkbox">
    <input type="checkbox" (input)="changeEvent()" />
    <i class="ngx-form-icon custom-checkbox-color" id="selectAllCheckbox"></i>
  </label>
</ng-template>

<ng-template #summaryTemplateRef let-total="total" let-limit="limit" let-page="page">
  <th colspan="13">
    <span class="mb-2">Total items</span>
    <span class="mb-2">: {{ paginationParam.count }} </span>
  </th>
</ng-template>

<!-- Text Cell Template -->
<ng-template #textCellTemplate let-value let-row let-rowIndex="rowIndex" let-column="column">
  <p *ngIf="row[column.key]" class="fs-6">
    {{ row[column.key] }}
  </p>
</ng-template>

<!-- HTML Cell Template -->
<ng-template #htmlCellTemplate let-value let-row let-rowIndex="rowIndex" let-column="column">
  <div>
    <p *ngIf="row[column.key] && row[column.key] !== ' '" [innerHtml]="row[column.key] | sanitizeHtml"></p>
  </div>
</ng-template>

<!-- Date Template -->
<ng-template #dateCellTemplate let-value let-row let-rowIndex="rowIndex" let-column="column">
  <p class="small">
    <span class="badge" style="background-color: #c4d7fa; color: #000;">
      <i class="far fa-clock"></i> {{ row[column.key] | date: 'dd-MM-yyyy HH:mm' }}
    </span>
  </p>

</ng-template>

<!-- Multi Info Cell Template -->
<ng-template #multiInfoCellTemplate let-value let-row let-rowIndex="rowIndex" let-column="column">
  <ng-container *ngFor="let item of displayNewLine(column.key, row)">
    <p *ngIf="row[item.fieldKey]" class="mt-1 mb-0 small d-flex justify-content-between">
      {{ item.label }}
      <span class="badge mx-1" style="background-color: #ffffff; color: #000;">
        {{ row[item.fieldKey] }} </span>
    </p>
  </ng-container>
</ng-template>


<!-- Action Icon Template -->
<ng-template #actionCellTemplate let-value let-row let-rowIndex="rowIndex" let-column="column">
  <button nbButton size="small" status="danger">
    Delete
  </button>
</ng-template>